
                body {
                  background-color: #E9E9E9;
                }

                nav {
                  background-color: white;
                  width: 91%;
                  margin-left: 4%;
                  margin-right: 5%;
                  height: 75px;
                  position: fixed;
                  margin-top: 10px;
                  z-index: 5;
                  display: inline;
                  border-radius: 10px;
                  border: 1px solid black;
                }

                div.description {
                  background-size: cover;
                  background-repeat: no-repeat;
                  height: 100%;
                  width: 100%;
                  position: absolute;
                  top: 0px;
                  left: 0px;
                  right: 0px;
                  text-align: center;
                }

                div.description p {
                  margin-top: 23%;
                  color: black;
                  font-family: monospace;
                  font-weight: bolder;
                  font-size: 150%;
                }

                div.resultat {
                  background-color: #E9E9E9;
                  height: 1000px;
                  width: 100%;
                  position: absolute;
                  top: 100%;
                  left: 0px;
                  right: 0px;
                  text-align: center;
                  justify-content: center;
                }

                nav a img{
                  position: absolute;
                  width: 100px;
                  height: 70px;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%);
                }

                div.resultat img {
                  position: absolute;
                  top: 65%;
                  left: 75%;
                  transform: translate(-50%, -50%);
                  width: 700px;
                  height: 500px;
                  border-radius: 30px;
                  border: 1px solid black;
                }
                div.resultat div.box {
                  background-color: white;
                  position: absolute;
                  top: 65%;
                  left: 25%;
                  transform: translate(-50%, -50%);
                  width: 700px;
                  height: 500px;
                  border-radius: 30px;
                  border: 1px solid black;
                }
                p1 {
                  position: absolute;  
                  width: 700px;
                  top: 32.5%;
                  left: 25%;
                  transform: translate(-50%, -50%);  
                  color: black;
                  font-family: monospace;
                  font-size: 20px;
                  font-weight: bolder;
                
                }
                p2 {
                  position: absolute;  
                  width: 700px;
                  top: 32.5%;
                  left: 75%;
                  transform: translate(-50%, -50%);
                  color: black;
                  font-family: monospace;
                  font-size: 20px;
                  font-weight: bolder;
                }
           