 
                body {
                  background-color: blue;
                }
                
                nav {
                  background-color: white;  
                  width: 91%;
                  margin-left: 4%;
                  margin-right: 5%;
                  height: 75px;
                  position: fixed;
                  margin-top: 10px;
                  z-index: 5;
                  display: inline;
                  border-radius: 10px;
                }
                
                nav a  {
                        
                }
                
                h1 {
                  color : blue;    
                }
                
                div.description {
                  background-image: url("img/wallpaper_description.jpeg");
                  background-size: cover;
                  background-repeat: no-repeat;
                  height: 100%;
                  width: 100%;
                  position: absolute;
                  top: 0px;
                  left: 0px;
                  right: 0px;
                  text-align: center;
                }
                
                div.description p {
                  margin-top: 23%;  
                  color: gray;
                  font-weight: bolder;
                  font-size: 150%;
                }

                div.tab {
                  background-color: #686868;
                  height: 100%;
                  width: 100%;
                  position: absolute;
                  top: 100%;
                  left: 0px;
                  right: 0px;
                  align-items: center;
            
                }
                
                div.graph {
                  background-color: #E9E9E9;
                  height: 1000px;
                  width: 100%;
                  position: absolute;
                  top: 200%;
                  left: 0px;
                  right: 0px;
                  text-align: center;
                  justify-content: center;
                  
                }
                
                table, th, td {
                  border: 1px solid;
                  border-collapse: collapse;
                }
                
                table {
                  position: relative;  
                  right:40%
                  top: 100px;
                  
                }
                
                
  
                nav a:hover {
                  background-color: red;
                  color:white;
                }
                
                nav a img{
                  position: absolute;
                  width: 100px;
                  height: 70px; 
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%);
                }
      
                div.graph img {
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%);
                  width: 700px;  
                  height: 500px;  
                }
           